:root {
    --background-of-div: rgba(255, 255, 255, 0.1);
    --backdrop-blur: blur(5px);
}

body {
    background-image: url("../background-image.jpg");
    background-size: cover;
    max-height: 100vh;
}

.containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: absolute;
    background-color: var(--background-of-div);
    backdrop-filter: var(--backdrop-blur);
    width: 82vw;
    height: 90vh;
    top: 5vh;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 73vw;
    top: 5vh;
    left: 4vw;
}

.title h2 {
    color: rgb(21, 21, 21);
    margin-bottom: 0px;
}

.title h1 {
    font-size: xxx-large;
}

.description {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: var(--background-of-div);
    width: 60vw;
    height: 30vh;
    border-radius: 20px;
}